{% extends "base.html" %}

{% block main_content %}
    {% if recipes %}
    <section class="all_recipes">
            {% for recipe in recipes %}
                    <a href="{{ url_for('open_recipe', id = recipe['id']) }}">
                        <section>
                            <img src="{{ url_for('static', filename = recipe['image_path']) }}" alt="">
                            <h2>{{recipe['title']}}</h2>
                        </section>
                    </a>
            {% endfor %}
    </section>
    {% else %}
            <p>No recipes were found.</p>
   {% endif %}
   <aside>
        <form action="" method="post" novalidate>
            {% for filter in form.type_checkboxes %}
                {{ filter(class="form-check-input") }}
                {{ filter.label(class="form-check-label") }}
            {% endfor %}
            <br>
            {{form.submit()}}
            <p>{{message}}</p>
        </form>
    </aside>
{% endblock %}
