{% extends "base.html" %}

{% block main_content %}

    {% if publisher == True %}
     <a href="{{ url_for('edit', id = recipe['id']) }}">{{form.edit()}}</a>
     <a href="{{ url_for('delete', id = recipe['id']) }}">{{form.delete()}}</a>
    {% endif %}

   <section class="open_recipe">
        <h2>{{recipe['title']}}</h2>
        <h5>Average score: {{avg_score}}</h5>
        <a href="{{ url_for('favourite', id = recipe['id']) }}"><img src="{{ url_for('static', filename = filename) }}" alt="an image of a star"></a>
        <p>type: {{recipe['type']}}</p>
        <p>Allergies: {{recipe['allergies']}}</p>
        <p>Published by: {{recipe['username']}}</p>
        <img src="{{ url_for('static', filename = recipe['image_path']) }}" alt="recipe['title']">
        <p>Ingredients: {{recipe['ingredients']}}</p>
        <p>Steps: {{recipe['steps']}}</p>
   </section>

   <section class="reviews">
     <h2>Reviews</h2>
      <!-- button to add review -->
      {% if user is not none %}
          {% if has_reviewed == False %}
               <form action="" method="post" novalidate>
                    {{review_form.hidden_tag()}}

                    {{review_form.score.label}}
                    {{review_form.score()}}
                    {% for error in review_form.score.errors %}
                         {{ error }}
                    {% endfor %}
                    <br />
                    {{review_form.feedback.label}}
                    {{review_form.feedback()}}
                    {% for error in review_form.feedback.errors %}
                         {{ error }}
                    {% endfor %}
                    <br />
                    {{review_form.submit()}}
               </form>
          {% endif %}
     {% endif %}

     {% for review in reviews %}  
          <section class="review">
               <h5>{{review['username']}}</h5>
               <!-- will need to change the score to something different -->
               <p>{{review['score']}}</p>
               <p>{{review['feedback']}}</p>
          </section>
     {% endfor %}
   </section>
{% endblock %}