{% extends "base.html" %}

{% block main_content %}
<div class="flex flex-col space-y-4 max-w-2xl mx-auto">
  <form action="" method="post" novalidate enctype="multipart/form-data" class="shadow-md rounded p-6 bg-white">
    {{ form.hidden_tag() }}

    <div class="flex flex-col mb-4">
      <label for="{{ form.title.id }}" class="text-sm font-bold text-gray-700">Recipe Title</label>
      {{ form.title(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="flex flex-col mb-4">
      <label for="{{ form.ingredients.id }}" class="text-sm font-bold text-gray-700">Ingredients (separate each ingredient with a comma)</label>
      {{ form.ingredients(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows="3") }}
    </div>

    <div class="flex flex-col mb-4">
      <label for="{{ form.steps.id }}" class="text-sm font-bold text-gray-700">Steps (number each step)</label>
      {{ form.steps(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows="8") }}
    </div>

    <div class="flex flex-col mb-4">
      <label for="{{ form.allergies.id }}" class="text-sm font-bold text-gray-700">Allergies (separate each allergy with a comma)</label>
      {{ form.allergies(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
    </div>

    <div class="flex flex-col mb-4">
      <label for="{{ form.type.id }}" class="text-sm font-bold text-gray-700">Type</label>
      {{ form.type(class="block w-full") }}
    </div>

    <div class="flex items-center mb-4">
      <label for="file" class="text-sm font-bold text-gray-700 mr-2">Upload Image</label>
      <input type="file" id="file" name="file" class="block w-full p-3 text-sm border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Submit Recipe
    </button>
  </form>
</div>
{% endblock %}
